/* ==========================================================================
   RESET
   ========================================================================== */


/* http://meyerweb.com/eric/tools/css/reset/
      v2.0 | 20110126
      License: none (public domain)
   */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
   END RESET
   ========================================================================== */

body {
  margin: auto;
  width: 100%;
  text-align: center;
  font-family: 'Megrim', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #E0E0E0;
  overflow: scroll;
  overflow-x: hidden;
}
h3 {
  font-size: 35px;
  font-weight: normal;
  margin-bottom: 20px;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 22px;
}
p {
  font-family: 'Poiret One', cursive;
  font-size: 18px;
}
span {
  color: #00A208;
}
a {
  font-family: 'Poiret One', cursive;
}

/* ==========================================================================
   header
   ========================================================================== */

header {
  background: url(../images/backg/aurore60.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 675px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px solid #00A208;
  color: #E0E0E0;
}
.fa-reorder {
  position: fixed;
  top: 20px;
  right: 40px;
}
#burger {
  z-index: 99999;
  cursor: pointer;
}
#blocMenu {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  font-size: 25px;
  justify-content: flex-start;
  background-color: rgb(17, 17, 17);
  background-color: rgba(17, 17, 17, 0.9);
  z-index: 99999;
  transition: all ease-in 0.5s;
}
#blocMenu.fermer {
  width: 0%;
}
#blocMenu p {
  text-align: right;
  margin-right: 40px;
  margin-top: 15px;
  height: 23.5%;
}
.close {
  font-size: 30px;
  /*color: #E0E0E0;*/
  cursor: pointer;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
}
.menu a {
  color: #E0E0E0;
  text-decoration: none;
  width: 259px;
}
.menu a:hover {
  color: #00A208;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#prenom {
  margin-bottom: 0;
  font-size: 100px;
  font-weight: bold;
}
#nom {
  margin: 0;
  font-size: 80px;
  font-weight: normal;
}

/* ==========================================================================
   END header
   =============================!============================================= */


/* ==========================================================================
   prez
   ========================================================================== */

.conteneurPrez {
  background: url(../images/backg/bgPaper1.png) no-repeat;
  background-size: cover;
}
.prez {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
}
#photo {
  box-shadow: 1px 1px 12px #c2c2c2;
}
.paragraphe {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 350px;
  margin-left: 50px;
}
.fa-quote-left {
  align-self: flex-start;
  margin-right: 30px;
  color: #080808;
}
.text_prez {
  align-self: center;
  color: #080808;
}
.topo {
  text-align: justify;
}
.fa-quote-right {
  align-self: flex-end;
  margin-left: 30px;
  color: #080808;
}

/* ==========================================================================
   END prez
   ========================================================================== */


/* ==========================================================================
   expPro
   ========================================================================== */

.conteneurExpPro {
  background: url(../images/backg/bgTexture1.png) no-repeat;
  background-size: cover;
}
.titreExpPro {
  /*background-color: #080808;*/
  color: #E0E0E0;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
}
.expPro {
  /*background-color: #080808;*/
  height: 150px;
  color: #E0E0E0;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.resum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.date {
  font-family: 'Megrim', cursive;
  margin-bottom: 5px;
}
.petit {
  font-size: 12px;
  font-style: italic;
  margin-top: 10px;
  color: #E0E0E0;
  font-family: 'Poiret One', cursive;
  text-decoration: none;
  cursor: pointer;
}
.frise {
  display: flex;
  /*background-color: #080808;*/
}
.detail {
  /*background-color: #080808;*/
  padding-top: 40px;
  padding-bottom: 40px;
  height: auto;
  color: #E0E0E0;
  display: flex;
  justify-content: space-around;
}
#poissonnerie {
  display: none;
}
.job1 {
  width: 80%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 1px 1px 12px #000;
  margin: auto;
  background: url(../images/backg/fishshop1.png) no-repeat;
  background-size: 100%;
}
#laGrandeRecre {
  display: none;
}
.job2 {
  width: 80%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 1px 1px 12px #000;
  margin: auto;
  background: url(../images/backg/train1.png) no-repeat;
  background-size: 100%;
}
#ecoleUpTo {
  display: none;
}
.job3 {
  width: 80%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 1px 1px 12px #000;
  margin: auto;
  background: url(../images/backg/code1.png) no-repeat;
  background-size: 100%;
}

/*.job1:hover, .job2:hover, .job3:hover {
  box-shadow: 1px 1px 12px #fff;
}*/

.artExp {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.artExp p {
  text-align: center;
  margin-top: 20px;
  line-height: 20px;
}

/* ==========================================================================
   END expPro
   ========================================================================== */


/* ==========================================================================
   skills
   ========================================================================== */

.skills {
  background: url(../images/backg/bgPaper1.png) no-repeat;
  background-size: cover;
}
.img_skills {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img_skills img {
  -webkit-filter: grayscale(100%);
  /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}
.img_skills img:hover {
  -webkit-filter: grayscale(100%);
  /* Chrome, Safari, Opera */
  filter: none;
  transition: 1s;
}
.img1, .img2, .img3 {
  background-size: 100px 140px;
  width: 100px;
  height: 140px;
}

/* ==========================================================================
   END skills
   ========================================================================== */


/* ==========================================================================
      study
      ========================================================================== */

.study {
  height: 250px;
  background: url(../images/backg/school1.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #E0E0E0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.titreStudy {
  color: #E0E0E0;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.level {
  margin-bottom: 20px;
}
.level p {
  font-family: 'Megrim', cursive;
  font-size: 25px;
  letter-spacing: 2;
}

/* ==========================================================================
      END study
      ========================================================================== */


/* ==========================================================================
   loisirs
   ========================================================================== */

.loisirs {
  background: url(../images/backg/bgTexture1.png) no-repeat;
  background-size: cover;
  height: 400px;
  /*background-color: #080808;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.loisirs h4 {
  padding-top: 50px;
  color: #E0E0E0;
}
.artLoisirs {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  color: #E0E0E0;
  width: 120px;
}
.iconLoisirs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 200px;
  width: 90%;
  padding-top: 25px;
  padding-bottom: 50px;
}
.zoom {
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 88px;
}
.zoom p {
  text-align: center;
}
.zoom img {
  width: 73px;
  height: 73px;
  -webkit-filter: grayscale(100%);
  /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}
.zoom img:hover {
  width: 88px;
  height: 88px;
  -webkit-filter: grayscale(100%);
  /* Chrome, Safari, Opera */
  filter: none;
  transition: 0.5s;
  cursor: pointer;
}
#spv, #jeuxVideos, #connected, #sortir, #voyage, #cinephile {
  display: none;
}

/* ==========================================================================
   END loisirs
   ========================================================================== */


/* ==========================================================================
   contact
   ========================================================================== */

.titreContact {
  background-color: #111;
  color: #E0E0E0;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
}
.contact {
  height: 650px;
  background-color: #111;
  color: #E0E0E0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.formContact {
  width: 40%;
}
form {
  display: flex;
  flex-direction: column;
}
label {
  text-align: left;
  margin: 10px;
  margin-top: 20px;
}
input {
  width: 70%;
  height: 25px;
  font-family: Arial, sans-serif;
  background-color: #1C1C1C;
  border: none;
  color: #E0E0E0;
}
input:focus {
  color: #00A208;
}
textarea {
  font-family: Arial;
  background-color: #1C1C1C;
  border: none;
  color: #E0E0E0;
}
textarea:focus {
  color: #00A208;
}
.button {
  width: 30%;
  height: 50px;
  border: none;
  border-radius: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Megrim', cursive;
  font-weight: bold;
  font-size: 18px;
  background-color: #252525;
  color: #E0E0E0;
}
.button:hover {
  color: #E0E0E0;
  background-color: #00A208;
  transition: 0.8s;
  cursor: pointer;
}
.telMail {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.telMail h5 {
  margin-bottom: 20px;
  text-align: center;
}
.titreRsx {
  margin-top: 130px;
  margin-bottom: 20px;
  text-align: center;
}
.telMail p {
  margin-top: 20px;
}
.telMail a {
  margin-top: 30px;
  color: #E0E0E0;
  text-decoration: none;
  font-size: 20px;
}
.telMail a:hover {
  color: #00A208;
  transition: 0.6s;
}
.coord {
  background-color: #252525;
  border: none;
  padding: 20px;
  color: #E0E0E0;
}
.coord:hover {
  background-color: #00A208;
  cursor: pointer;
  transition: 0.8s;
}
.coord1 {
  margin: 15px 0;
}

/* ==========================================================================
   END contact
   ========================================================================== */


/* ==========================================================================
   footer
   ========================================================================== */

footer {
  display: flex;
  justify-content: space-around;
  color: #E0E0E0;
  /*background-color: #080808;*/
  background: url(../images/backg/bgTexture1.png) no-repeat;
  background-size: cover;
  height: 70px;
  align-items: center;
  border-top: 2px solid #00A208;
}
.copyR {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.copyright {
  /*display: flex;
  justify-content: center;*/
  margin-left: 40px;
}
.copyright p {
  font-size: 12px;
  letter-spacing: 4px;
}
.rsxSoc {
  /*display: flex;
  justify-content: center;*/
  margin-right: 30px;
}
.rsxSoc a {
  color: #E0E0E0;
  margin-right: 10px;
}
.rsxSoc a:hover {
  color: #00A208;
}

/* ==========================================================================
   END footer
   ========================================================================== */



/* ==========================================================================
   RESPONSIVE STYLING
   ========================================================================== */

@media (max-width: 1199px) {
  .prez {
    width: 90%;
  }
}

@media (max-width: 991px) {
  .paragraphe {
    width: 95%;
    margin-top: 50px;
    margin-left: 0;
  }

}

@media (max-width: 767px) {
  .paragraphe {
    width: 100%;
    margin-top: 50px;
    margin-left: 0;
  }
  .loisirs {
    padding-bottom: 180px;
  }
  .iconLoisirs {
    width: 80%;
  }
  .artLoisirs {
    width: 30%;
  }
  .zoom p {
    font-size: 13px;
  }
}

/* ==========================================================================
   END RESPONSIVE STYLING
   ========================================================================== */
